<div class="container__big-card">
   <a href=""></a>
  <div class="big-card__photo">
      <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/F6482D58C8BB4D899FA4682BF27652C3E1BB73F5971E5F963994112F26A73690/scale?width=1200&aspectRatio=1.78&format=jpeg"
      alt=""
      height="200px"

      srcset="">
  </div>

  <div class="big-card__title">
      <h1><a href="#">Saiu a nova versão do Angular</a></h1>

  </div>
  <div class="big-card__description">
      <p><a href="#">
        Lorem ipsum dolor sit amet.
        Qui adipisci obcaecati et nobis omnis
        id nihil inventore est omnis deserunt.
        Qui aliquam facere sed enim laborum et
        error voluptas ut atque consequatur
        vel pariatur rerum et fugiat quisquam
        et voluptatem similique.
        Eos iusto minima non maxime minima ea
        ipsa enim ut quos quisquam eum maxime
        modi et maxime libero rem voluptas
        optio.</a>
      </p>
  </div>
</div>
